module15/task2/service/src/main/webapp/wsdl/RandomService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.epam.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.epam.com" xmlns:intf="http://service.epam.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.epam.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="randomNumberGenerator">
    <complexType>
     <sequence>
      <element name="lowerBound" type="xsd:int"/>
      <element name="upperBound" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="randomNumberGeneratorResponse">
    <complexType>
     <sequence>
      <element name="randomNumberGeneratorReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="randomNumberGeneratorRequest">

      <wsdl:part element="impl:randomNumberGenerator" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="randomNumberGeneratorResponse">

      <wsdl:part element="impl:randomNumberGeneratorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RandomService">

      <wsdl:operation name="randomNumberGenerator">

         <wsdl:input message="impl:randomNumberGeneratorRequest" name="randomNumberGeneratorRequest">

       </wsdl:input>

         <wsdl:output message="impl:randomNumberGeneratorResponse" name="randomNumberGeneratorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RandomServiceSoapBinding" type="impl:RandomService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="randomNumberGenerator">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="randomNumberGeneratorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="randomNumberGeneratorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RandomServiceService">

      <wsdl:port binding="impl:RandomServiceSoapBinding" name="RandomService">

         <wsdlsoap:address location="http://localhost:8080/RandomServ/services/RandomService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
